[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
requests = "*"
psycopg2 = "*"
pytest = "*"
pytest-django = "*"
selenium = "*"
model-bakery = "*"
flake8 = "*"
freeze = "*"
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
whitenoise = "*"
pip = "*"
pytest-cov = "*"
django-crispy-forms = "*"
raven = "*"
sentry-sdk = "*"
aiocontextvars = "*"
webdriver-manager = "*"
django-keys = "*"

[requires]
python_version = "3.7"
