[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
requests = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-django = "*"
selenium = "*"
model-bakery = "*"
flake8 = "*"
freeze = "*"
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
whitenoise = "*"
pip = "*"
pytest-cov = "*"
psycopg2 = "*"
supervisor = "*"
